#principal{
    height: 91vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0px;
    font-weight: bold;
    font-size: 3.5rem;
    padding-bottom: 30px;
}

.texto p{
    font-size: 2rem;
    margin: 0px;
    padding-right: 60px;
}

.imagen img{
    background: #f7f7f7;
    display: flex;
}