<div class="container">
    <div id="principal">
        <div class="texto">
            <h1>Framework Angular</h1>
            <p>
                Angular es una plataforma y un framework para crear aplicaciones de una sola página en el lado del
                cliente usando HTML y TypeScript. Angular está escrito en TypeScript. Implementa la funcionalidad básica y opcional como un conjunto de
                bibliotecas TypeScript que importas en tus aplicaciones.
            </p>
        </div>
        <div class="imagen">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" width="400" alt="logo_angular">
        </div>
    </div>
</div>