<div class="container">
    <div id="formu">
        <form action="" class="row">
            <span class="title">Envíenos un mensaje</span>
            <div class="col-md-4">
                <p>
                    <label for="nombre" class="form-label">Nombre (required)</label>
                    <input type="text" id="nombre" class="form-control">
                </p>
                <p>
                    <label for="asunto" class="form-label">Asunto</label>
                    <input type="text" id="asunto" class="form-control">
                </p>
                <input type="button" id="" value="Enviar" class="enviar">
            </div>
            <div class="col-md-4">
                <p>
                    <label for="correo" class="form-label">Correo (required)</label>
                    <input type="text" id="correo" class="form-control">
                </p>
                <p>
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea id="mensaje" cols="30" rows="4" class="form-control"></textarea>
                </p>
            </div>
            <div class="col-md-4">
                <span class="title">Información de contacto</span>
                <p>
                    Somos especialistas en soporte técnico integral. En SoportePC nos preocupamos en brindarle un servicio eficiente con la misma calidad y seguridad que nos gustaría tener.
                </p>
                <div class="datos_contacto">
                    <span>DIRECCIÓN</span> Av. Caminos del Inca 2904, Lima, Perú <br>
                    <span>TELÉFONO</span> +51 939 392 310 <br>
                    <span>MOVIL</span> +51 995 476 126 <br>
                    <span>CORREO</span> informes@prueba.pe
                </div>
            </div>
        </form>
    </div>


</div>